html
   head
      title app 
   body
       ul 
         li 
              a(href ='/') Homepage
         li
              a(href ='/Contact') Contact
         li
              a(href ='/Service') Service
       h1 Homepage
    
   

